*{
    font-family: 'Courier New', Courier, monospace;
}
#header{
    margin-bottom: 10px;
}

video{ 
    size: contain;
    width: 100%;
    margin-top: -18%;
}
.webName h3{
    padding: 30px;
    color: white;
    font-weight: bolder;
    font-size: large;
    float: left;
    font-size: xx-large;
}
.mouse{
    margin: 30px 0px 30px 0px;
    background-color: wheat;
    text-align: center;
    padding: 10px;
    animation: bounce 2s infinite;
  }
.mouse h4 {
    margin: 15px;
    text-align: center;
}
#genderchoose{
    background-color: wheat;
    border-radius: 3px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}   
#genderchoose input{
    margin: 15px;
}
h3 {
    text-align: center;
}
.guarantee {
    text-align: center;
    margin: 100px;
}
.whatspop {
    text-align: center;
}
.h10 {
    text-align: center;
    padding: 10px;
}
.h9 {
    text-align: center;
    padding: 10px;
}
.h11 {
    text-align: center;
    padding: 10px;
}
.img-hidden2 {
    text-align: center;
}
.img-hidden1 {
    text-align: center;
}
.img-hidden3 {
    text-align: center;
}
.whatwedo {
    margin-bottom: 50px;
}
.gallery {
    text-align: center;
}
#choices {
    margin-top: 10px;
    text-align: center;
}
.toggle{
    width: 80%;
}
.col-md-4 img{
    box-shadow: 3px 3px 3px black;
    padding: 30px;
    border-radius: 15px;
    background-color: wheat;
    margin-left: 20px;
    width: 85%;
    height: 350px;
}
.col-md-4 img :hover{
  box-shadow: 3px 3px 3px black;
  padding: 30px;
  border-radius: 15px;
  background-color: wheat;
  margin-left: 20px;
  width: 85%;
  height: 350px;
  border-bottom: 3px solid black;
}
.tattoo, .piercing{
  margin: 30px;
}
.tattoo h4, .piercing h4{
  font-weight: bold;
  text-align: center;
}
.col-md-4 p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.col-md-4:hover{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  border-bottom: 3px solid black;
  transition: all 0.5s ease-in;
}
figure a{
  text-decoration: none;
  color: black;
}
figure a :hover{
  text-decoration: none;
  color: black;
}
#appear{
    display: none; 
    text-align: center;
    background-color: wheat;
    padding: 10px;
  }
#confirm{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: wheat;
    border: 2px solid wheat;
}
#confirm :hover {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid black;
    transition: all 0.5s ease-in;
  }
  .info{
    background-color: wheat;
    text-align: center;
    font-weight: bolder;
    display: none;
    margin: 20px 0px 20px 0px;
    border-radius: 15px;
    padding: 10px;
  }
  .request{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 15px;
  }
  input{
    margin: 10px;
    padding: 10px;
    width: 30%;
  }
  .selectNai{
    margin-left: 30%;
    width: 30%;
  }
  .selectNai p{
    text-align: center;
    margin-left: 100px;
  }
  .noDelivery{
    display: none;
  }
  .addressInput{
    display: none;
  }
  #confirmDetailsBtn{
    background-color: black;
    color: wheat;
    padding: 10px;
    width: 200px;
  }
  #showDetails{
    display: none;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    color: wheat;
    background-color: black;
  }
  #proceedBtn{
    margin-top: 150px;
    width: 200px;
    background-color: black;
    color: wheat;
    padding: 10px;
  }
  button a{
    text-decoration: none;
    color: wheat;
  }
    button a :hover{
         text-decoration: none;
         color: wheat;
    }
