*{
    font-family: 'Courier New', Courier, monospace;
}
#header{
    margin-bottom: 10px;
}

video{ 
    size: contain;
    width: 100%;
    margin-top: -18%;
}
.webName h3{
    padding: 30px;
    color: white;
    font-weight: bolder;
    font-size: large;
    float: left;
    font-size: xx-large;
}
.mouse{
    margin: 30px 0px 30px 0px;
    background-color: wheat;
    text-align: center;
    padding: 10px;
    animation: bounce 2s infinite;
  }
.mouse h4 {
    margin: 15px;
    text-align: center;
}
#genderchoose{
    background-color: wheat;
    border-radius: 3px;
    padding: 10px;
    padding-top: 20px;
    text-align: center;
    font-weight: bolder;
    font-size: large;
}   
#genderchoose input{
    margin: 15px;
}
h3 {
    text-align: center;
}
.guarantee {
    text-align: center;
    margin: 100px;
}
.whatspop {
    text-align: center;
}
.h10 {
    text-align: center;
    padding: 10px;
}
.h9 {
    text-align: center;
    padding: 10px;
}
.h11 {
    text-align: center;
    padding: 10px;
}
.img-hidden2 {
    text-align: center;
}
.img-hidden1 {
    text-align: center;
}
.img-hidden3 {
    text-align: center;
}
.whatwedo {
    margin-bottom: 50px;
}
.gallery {
    text-align: center;
}
#choices {
    margin-top: 10px;
    text-align: center;
}
.toggle{
    width: 80%;
}
.col-md-4 img{
    box-shadow: 3px 3px 3px black;
    padding: 30px;
    border-radius: 15px;
    background-color: wheat;
    margin-left: 20px;
    width: 85%;
    height: 350px;
}
.col-md-4 p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  #appear{
    display: none; 
    text-align: center;
    background-color: wheat;
    padding: 10px;
  }
  #confirm{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
    color: wheat;
    border: 2px solid wheat;
  }
  #confirm :hover {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid black;
    transition: all 0.5s ease-in;
  }
